<div class="wrap">
	<div class="col-md-7">
		<div class="column1">
			<div class="content-section top-spacing-small bottom-spacing-small">
				<!-- <div class="content-section-heading">
					
				</div> -->
				<div class="content">
				<%= raw @post.the_content %>
				</div>


				
			</div>
		</div>
		
	</div>

	<div class="col-md-5">
		<div class="column1">
			<div class="sidebar-widget top-spacing-small">
				<div class="info-box">
					
					<h3 class="sidebar-widget-title">Why modular?</h3>
					<div class="content">
						<ul class="custom-list icon-normal border-none icon-color-yellow text-color-black">
							<li><i class="fa fa-check"></i> Affordable</li>
							<li><i class="fa fa-check"></i> Controlled light, temperature, humidity</li>
							<li><i class="fa fa-check"></i> Waterproof, Fireproof</li>
							<li><i class="fa fa-check"></i> Mold, mildew, pest resistant</li>
							<li><i class="fa fa-check"></i> Recyclable</li>
							<li><i class="fa fa-check"></i> Maintenance-free</li>
							<li><i class="fa fa-check"></i> Permanent or portable</li>
						</ul>
					</div>
					
				</div>
			</div>
			
			
		</div>
	</div>

	<div class="cleared"></div>
</div>


<div id="content-section2" class="content-section black-text white-bg top-spacing-no bottom-spacing-no title-spacing-medium align-center " style="">
	<div class="no-wrap">
		<div class="content-column1">
			<div class="widget-entry">
				<div class="column1">
					<div class="gallery ">
						<div class="percent_column4 ">
							<div class="gallery-grid">
								<div class="gallery-image-lightbox">
									<div class="gallery-image-bg"></div>
									<img title="" src="http://www.4sgs.com/media/1/interior.png"> <a title="" class="gallery-image-icon" rel="magnific-popup" href="http://www.4sgs.com/media/1/interior.png"><i class="pe-7s-search"></i></a> </div>
							</div>
						</div>
						<div class="percent_column4 ">
							<div class="gallery-grid">
								<div class="gallery-image-lightbox">
									<div class="gallery-image-bg"></div>
									<img title="" src="http://www.4sgs.com/media/1/long_house.png"> <a title="" class="gallery-image-icon" rel="magnific-popup" href="http://www.4sgs.com/media/1/long_house.png"><i class="pe-7s-search"></i></a> </div>
							</div>
						</div>
						<div class="percent_column4 ">
							<div class="gallery-grid">
								<div class="gallery-image-lightbox">
									<div class="gallery-image-bg"></div>
									<img title="" src="http://www.4sgs.com/media/1/3_houses.png"> <a title="" class="gallery-image-icon" rel="magnific-popup" href="http://www.4sgs.com/media/1/3_houses.png"><i class="pe-7s-search"></i></a> </div>
							</div>
						</div>
						<div class="percent_column4 column-last">
							<div class="gallery-grid">
								<div class="gallery-image-lightbox">
									<div class="gallery-image-bg"></div>
									<img title="" src="http://www.4sgs.com/media/1/2-storyhouse.png"> <a title="" class="gallery-image-icon" rel="magnific-popup" href="http://www.4sgs.com/media/1/2-storyhouse.png"><i class="pe-7s-search"></i></a> </div>
							</div>
						</div>
						<div class="cleared"></div>
					</div>
				</div>
				<div class="cleared"></div>
				<div class="cleared"></div>
			</div>
			<!-- end widget entry --> </div>
		<div class="cleared"></div>
	</div>
	<!-- end wrap-column no-wrap --> 
</div>
<!-- end content section -->

