<%= raw @post.the_content %>
<%#
<div id="content-section1" class="content-section black-text white-bg top-spacing-medium bottom-spacing-medium title-spacing-medium align-center " style="">
	<div class="wrap-column">
		<div class="content-column1">
			<div class="widget-entry">
				<div class="process process_container_1">
					<div class="process_row">
						<div class="widget-column1-2 ">
							<div class="process-item  process_style_1">
								<div class="process-left">
									<div class="process-number"> 1 </div>
								</div>
								<div class="process-right">
									<div class="process-name">Lorem ipsum dolor.</div>
									<div class="process-content content">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, repellendus? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
										
									</div>
									<div class="cleared"></div>
								</div>
								<div class="cleared"></div>
							</div>
						</div>
						<div class="widget-column1-2 column-last">
							<div class="process-item  process_style_1">
								<div class="process-left">
									<div class="process-number"> 2 </div>
								</div>
								<div class="process-right">
									<div class="process-name">Lorem ipsum dolor.</div>
									<div class="process-content content">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, eligendi. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
										
									</div>
									<div class="cleared"></div>
								</div>
								<div class="cleared"></div>
							</div>
						</div>
						<div class="cleared"></div>
						<div class="widget-column1-2 ">
							<div class="process-item process_style_1">
								<div class="process-left">
									<div class="process-number"> 3 </div>
								</div>
								<div class="process-right">
									<div class="process-name">Lorem ipsum dolor.</div>
									<div class="process-content content">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, quas. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
										
									</div>
									<div class="cleared"></div>
								</div>
								<div class="cleared"></div>
							</div>
						</div>
						<div class="widget-column1-2 column-last">
							<div class="process-item process_style_1 widget-element-bottom">
								<div class="process-left">
									<div class="process-number"> 4 </div>
								</div>
								<div class="process-right">
									<div class="process-name">Lorem ipsum dolor.</div>
									<div class="process-content content">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, fugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
										
									</div>
									<div class="cleared"></div>
								</div>
								<div class="cleared"></div>
							</div>
						</div>
						<div class="cleared"></div>
						<div class="cleared"></div>
					</div>
				</div>
				<div class="cleared"></div>
				<div class="cleared"></div>
			</div>
		</div>
	</div>
</div>

<div class="content-section black-text white-bg bottom-spacing-medium title-spacing-medium align-center ">
	<div class="wrap-column">
		<div class="column1">
			<div class="wrap">
				<div class="content-section-heading">
					<h2 class="content-section-subtitle">Lorem ipsum dolor sit amet.</h2>
					<h1 class="content-section-title">Lorem ipsum dolor sit amet, consectetur.</h1>
				</div>
			</div>
		</div>
		<div class="cleared"></div>

		<div class="accordion-wrap">
		<!-- data-active="1" data-collapsible="0" to make certain tab active.. -->
			<div class="accordion accordion-type-group accordion-style-highlight">
				<div class="accor-title text-center"> <span class="accor-title-icon"><i class="fa fa-angle-down"></i></span> Extra Options </div>
				<div class="accor-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, velit, eum, delectus aliquid dolore numquam dolorem assumenda nisi nemo eveniet et illo tempore voluptatem cum in repudianda.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eligendi, vel fugit excepturi, eos odit voluptas. Temporibus quo exercitationem doloremque cupiditate, consequuntur illum suscipit dolore nobis vero. Ipsam autem, necessitatibus?</p>
				</div>
				<div class="accor-title text-center"> <span class="accor-title-icon"><i class="fa fa-angle-down"></i></span> Warranties </div>
				<div class="accor-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, velit, eum, delectus aliquid dolore numquam dolorem assumenda nisi nemo eveniet et illo tempore voluptatem cum in repudianda.</p>
				</div>
				<div class="accor-title text-center"> <span class="accor-title-icon"><i class="fa fa-angle-down"></i></span> Return Policy </div>
				<div class="accor-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, velit, eum, delectus aliquid dolore numquam dolorem assumenda nisi nemo eveniet et illo tempore voluptatem cum in repudianda.</p>
				</div>
				<div class="accor-title text-center"> <span class="accor-title-icon"><i class="fa fa-angle-down"></i></span> Recommended Tools </div>
				<div class="accor-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, velit, eum, delectus aliquid dolore numquam dolorem assumenda nisi nemo eveniet et illo tempore voluptatem cum in repudianda.</p>
				</div>
			</div>
		</div>
		<div class="cleared"></div>
		<div class="cleared"></div>
		<!-- end widget entry -->
	</div>
</div>
%>