#mega-menu-wrap-main-menu, #mega-menu-wrap-main-menu #mega-menu-main-menu, #mega-menu-wrap-main-menu #mega-menu-main-menu ul, #mega-menu-wrap-main-menu #mega-menu-main-menu li, #mega-menu-wrap-main-menu #mega-menu-main-menu p, #mega-menu-wrap-main-menu #mega-menu-main-menu img, #mega-menu-wrap-main-menu #mega-menu-main-menu div, #mega-menu-wrap-main-menu #mega-menu-main-menu a {
  color: #666;
  font-family: inherit;
  font-size: 14px;
  background: none;
  border: 0;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -ms-border-radius: 0 0 0 0;
  -o-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  margin: 0;
  opacity: 1;
  padding: 0;
  position: relative;
  right: auto;
  top: auto;
  bottom: auto;
  left: auto;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  list-style-type: none;
  line-height: 1.7;
  box-sizing: border-box;
  float: none;
  overflow: visible;
  display: block;
  min-height: 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  text-decoration: none;
  width: auto;
  clip: auto;
  height: auto;
  outline: none;
  visibility: inherit;
}
#mega-menu-wrap-main-menu:before, #mega-menu-wrap-main-menu #mega-menu-main-menu:before, #mega-menu-wrap-main-menu #mega-menu-main-menu ul:before, #mega-menu-wrap-main-menu #mega-menu-main-menu li:before, #mega-menu-wrap-main-menu #mega-menu-main-menu p:before, #mega-menu-wrap-main-menu #mega-menu-main-menu img:before, #mega-menu-wrap-main-menu #mega-menu-main-menu div:before, #mega-menu-wrap-main-menu #mega-menu-main-menu a:before, #mega-menu-wrap-main-menu:after, #mega-menu-wrap-main-menu #mega-menu-main-menu:after, #mega-menu-wrap-main-menu #mega-menu-main-menu ul:after, #mega-menu-wrap-main-menu #mega-menu-main-menu li:after, #mega-menu-wrap-main-menu #mega-menu-main-menu p:after, #mega-menu-wrap-main-menu #mega-menu-main-menu img:after, #mega-menu-wrap-main-menu #mega-menu-main-menu div:after, #mega-menu-wrap-main-menu #mega-menu-main-menu a:after {
  display: none;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu {
  visibility: visible;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu a {
  display: inline;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu table, #mega-menu-wrap-main-menu #mega-menu-main-menu td, #mega-menu-wrap-main-menu #mega-menu-main-menu tr, #mega-menu-wrap-main-menu #mega-menu-main-menu th {
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
}
#mega-menu-wrap-main-menu {
  background: #222;
  -webkit-border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -ms-border-radius: 0px 0px 0px 0px;
  -o-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu {
  text-align: left;
  padding: 0px 0px 0px 0px;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu p {
  margin-bottom: 10px;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu input, #mega-menu-wrap-main-menu #mega-menu-main-menu img {
  max-width: 100%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-item > ul.mega-sub-menu {
  display: block;
  visibility: hidden;
  opacity: 1;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu.mega-no-js li.mega-menu-item:hover > ul.mega-sub-menu, #mega-menu-wrap-main-menu #mega-menu-main-menu.mega-no-js li.mega-menu-item:focus > ul.mega-sub-menu, #mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu, #mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {
  visibility: visible;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-item a[class^='dashicons']:before {
  font-family: dashicons;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-disable-link > a {
  cursor: default;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-item a:before {
  display: inline-block;
  font: inherit;
  font-family: dashicons;
  position: static;
  margin: 0 6px 0 0px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: inherit;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-item.mega-hide-text a:before {
  margin: 0;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-align-bottom-left.mega-toggle-on > a {
  -webkit-border-radius: 0px 0px 0 0;
  -moz-border-radius: 0px 0px 0 0;
  -ms-border-radius: 0px 0px 0 0;
  -o-border-radius: 0px 0px 0 0;
  border-radius: 0px 0px 0 0;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-align-bottom-right > ul.mega-sub-menu {
  right: 0;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-align-bottom-right.mega-toggle-on > a {
  -webkit-border-radius: 0px 0px 0 0;
  -moz-border-radius: 0px 0px 0 0;
  -ms-border-radius: 0px 0px 0 0;
  -o-border-radius: 0px 0px 0 0;
  border-radius: 0px 0px 0 0;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu.mega-menu-item {
  position: static;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item {
  margin: 0 0px 0 0;
  display: inline-block;
  height: auto;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item.mega-item-align-right {
  float: right;
  margin: 0 0 0 0px;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item.mega-toggle-on > a, #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item > a:hover, #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item > a:focus {
  background: #333;
  color: #fff;
  font-weight: normal;
  text-decoration: none;
  border-color: #fff;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item > a {
  border-top: 0px solid #fff;
  border-left: 0px solid #fff;
  border-right: 0px solid #fff;
  border-bottom: 0px solid #fff;
  outline: none;
  text-decoration: none;
  padding: 0px 10px 0px 10px;
  line-height: 40px;
  font-weight: normal;
  height: 40px;
  vertical-align: baseline;
  text-align: left;
  width: auto;
  display: block;
  color: #fff;
  text-transform: normal;
  text-decoration: none;
  background: transparent;
  -webkit-border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -ms-border-radius: 0px 0px 0px 0px;
  -o-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  font-family: inherit;
  font-size: 14px;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item {
    display: list-item;
    margin: 0;
    clear: both;
    border: 0;
  }
  #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item.mega-item-align-right {
    float: none;
  }
  #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item > a {
    -webkit-border-radius: 0 0 0 0 0 0 0;
    -moz-border-radius: 0 0 0 0 0 0 0;
    -ms-border-radius: 0 0 0 0 0 0 0;
    -o-border-radius: 0 0 0 0 0 0 0;
    border-radius: 0 0 0 0 0 0 0;
    border: 0;
    margin: 0;
    line-height: 40px;
    height: 40px;
    padding: 0 10px;
  }
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu {
  z-index: 999;
  -webkit-border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -ms-border-radius: 0px 0px 0px 0px;
  -o-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  background: #f1f1f1;
  padding: 0px 0px 0px 0px;
  position: absolute;
  width: 100%;
  border-top: 0px solid #fff;
  border-left: 0px solid #fff;
  border-right: 0px solid #fff;
  border-bottom: 0px solid #fff;
  left: 0;
}
@media only screen and (max-width: 600px) {
  #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu {
    float: left;
    position: static;
    width: 100% !important;
  }
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-1-of-1 {
  width: 100%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-1-of-2 {
  width: 50%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-2-of-2 {
  width: 100%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-1-of-3 {
  width: 33.33333%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-2-of-3 {
  width: 66.66667%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-3-of-3 {
  width: 100%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-1-of-4 {
  width: 25%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-2-of-4 {
  width: 50%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-3-of-4 {
  width: 75%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-4-of-4 {
  width: 100%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-1-of-5 {
  width: 20%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-2-of-5 {
  width: 40%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-3-of-5 {
  width: 60%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-4-of-5 {
  width: 80%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-5-of-5 {
  width: 100%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-1-of-6 {
  width: 16.66667%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-2-of-6 {
  width: 33.33333%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-3-of-6 {
  width: 50%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-4-of-6 {
  width: 66.66667%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-5-of-6 {
  width: 83.33333%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-6-of-6 {
  width: 100%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-1-of-7 {
  width: 14.28571%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-2-of-7 {
  width: 28.57143%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-3-of-7 {
  width: 42.85714%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-4-of-7 {
  width: 57.14286%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-5-of-7 {
  width: 71.42857%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-6-of-7 {
  width: 85.71429%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-7-of-7 {
  width: 100%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-1-of-8 {
  width: 12.5%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-2-of-8 {
  width: 25%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-3-of-8 {
  width: 37.5%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-4-of-8 {
  width: 50%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-5-of-8 {
  width: 62.5%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-6-of-8 {
  width: 75%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-7-of-8 {
  width: 87.5%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-8-of-8 {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li {
    width: 50% !important;
    clear: none;
  }
  #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li:nth-child(odd) {
    clear: left;
  }
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li ul.mega-sub-menu {
  clear: both;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li ul.mega-sub-menu li ul.mega-sub-menu {
  margin-left: 10px;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li ul.mega-sub-menu li ul.mega-sub-menu li ul.mega-sub-menu {
  margin-left: 20px;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item {
  color: #666;
  font-family: inherit;
  font-size: 14px;
  display: block;
  float: left;
  clear: none;
  padding: 15px 15px 15px 15px;
  vertical-align: top;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-menu-clear {
  clear: left;
  /* Widget titles */
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item h4.mega-block-title {
  color: #555;
  font-family: inherit;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 5px 0px;
  vertical-align: top;
  display: block;
  border-top: 0px solid #555;
  border-left: 0px solid #555;
  border-right: 0px solid #555;
  border-bottom: 0px solid #555;
  /* Second level menu item */
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a {
  color: #555;
  font-family: inherit;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  vertical-align: top;
  display: block;
  border-top: 0px solid #555;
  border-left: 0px solid #555;
  border-right: 0px solid #555;
  border-bottom: 0px solid #555;
  /* Second level menu item hover */
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a:hover, #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a:focus {
  color: #555;
  font-weight: bold;
  text-decoration: none;
  background: transparent;
  /* third level menu item */
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a {
  color: #666;
  font-family: inherit;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  font-weight: normal;
  margin: 0;
  padding: 0px 0px 0px 0px;
  vertical-align: top;
  display: block;
  /* Second level menu item hover */
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a:hover, #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a:focus {
  color: #666;
  font-weight: normal;
  text-decoration: none;
  background: transparent;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-flyout ul.mega-sub-menu {
  z-index: 999;
  position: absolute;
  width: 150px;
  border-top: 0px solid #fff;
  border-left: 0px solid #fff;
  border-right: 0px solid #fff;
  border-bottom: 0px solid #fff;
  padding: 0px 0px 0px 0px;
  background: #f1f1f1;
}
@media only screen and (max-width: 600px) {
  #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-flyout ul.mega-sub-menu {
    float: left;
    position: static;
    width: 100% !important;
  }
}
@media only screen and (max-width: 600px) {
  #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item {
    clear: both;
  }
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a {
  display: block;
  background: #f1f1f1;
  color: #666;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  padding: 0px 10px 0px 10px;
  line-height: 35px;
  text-decoration: none;
  text-transform: normal;
  vertical-align: baseline;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item:first-child a {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item:last-child a {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a:hover, #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a:focus {
  background: #ddd;
  font-weight: normal;
  text-decoration: none;
  color: #666;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu {
  position: absolute;
  left: 100%;
  top: 0;
}
@media only screen and (max-width: 600px) {
  #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu {
    position: static;
    left: 0;
    width: 100%;
  }
  #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu a {
    padding-left: 20px;
  }
}
#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-flyout.mega-menu-item-has-children > a:after, #mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-flyout li.mega-menu-item-has-children > a:after, #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item-has-children > a:after {
  content: '\f140';
  display: inline-block;
  font: inherit;
  font-family: dashicons;
  margin: 0 0 0 6px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  color: inherit;
}
@media only screen and (max-width: 600px) {
  #mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-flyout.mega-menu-item-has-children a:after, #mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-flyout li.mega-menu-item-has-children a:after, #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item-has-children a:after {
    float: right;
  }
  #mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-flyout.mega-menu-item-has-children.mega-toggle-on > a:after, #mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-flyout li.mega-menu-item-has-children.mega-toggle-on > a:after, #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item-has-children.mega-toggle-on > a:after {
    content: '\f142';
  }
}
#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-flyout.mega-menu-item-has-children.mega-hide-arrow > a:after, #mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-flyout li.mega-menu-item-has-children.mega-hide-arrow > a:after, #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item-has-children.mega-hide-arrow > a:after {
  display: none;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-item li.mega-menu-item-has-children > a:after {
  content: '\f139';
  float: right;
  margin: 0;
}
@media only screen and (max-width: 600px) {
  #mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-item li.mega-menu-item-has-children > a:after {
    content: '\f140';
  }
}
#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-flyout.mega-align-bottom-right li a {
  text-align: right;
}
@media only screen and (max-width: 600px) {
  #mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-flyout.mega-align-bottom-right li a {
    text-align: left;
  }
}
#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-flyout.mega-align-bottom-right li a:before {
  float: right;
  margin: 0 0 0 6px;
}
@media only screen and (max-width: 600px) {
  #mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-flyout.mega-align-bottom-right li a:before {
    float: left;
    margin: 0 6px 0 0;
  }
}
#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-flyout.mega-align-bottom-right li.mega-menu-item-has-children > a:after {
  content: '\f141';
  float: left;
  margin: 0;
}
@media only screen and (max-width: 600px) {
  #mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-flyout.mega-align-bottom-right li.mega-menu-item-has-children > a:after {
    content: '\f140';
    float: right;
  }
}
#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-flyout.mega-align-bottom-right ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu {
  left: -100%;
  top: 0;
}
#mega-menu-wrap-main-menu .mega-menu-toggle {
  display: none;
  z-index: 1;
  cursor: pointer;
  text-align: right;
  background: #222;
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -ms-border-radius: 2px 2px 2px 2px;
  -o-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  line-height: 40px;
  height: 40px;
  color: #fff;
}
@media only screen and (max-width: 600px) {
  #mega-menu-wrap-main-menu .mega-menu-toggle {
    display: block;
  }
}
#mega-menu-wrap-main-menu .mega-menu-toggle:before {
  content: "\f333";
  font-family: 'dashicons';
  font-size: 24px;
  margin: 0 5px;
  float: right;
}
#mega-menu-wrap-main-menu .mega-menu-toggle.mega-menu-open:before {
  content: "\f153";
}
#mega-menu-wrap-main-menu .mega-menu-toggle:after {
  content: 'MENU';
}
#mega-menu-wrap-main-menu .mega-menu-toggle.mega-menu-open:after {
  content: "";
}
@media only screen and (max-width: 600px) {
  #mega-menu-wrap-main-menu .mega-menu-toggle + #mega-menu-main-menu {
    display: none;
  }
  #mega-menu-wrap-main-menu .mega-menu-toggle + #mega-menu-main-menu li.mega-menu-item > ul.mega-sub-menu {
    display: none;
    visibility: visible;
    opacity: 1;
  }
  #mega-menu-wrap-main-menu .mega-menu-toggle + #mega-menu-main-menu li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu, #mega-menu-wrap-main-menu .mega-menu-toggle + #mega-menu-main-menu li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {
    display: block;
  }
  #mega-menu-wrap-main-menu .mega-menu-toggle.mega-menu-open + #mega-menu-main-menu {
    display: block;
  }
}
#mega-menu-wrap-main-menu {
  clear: both;
}

#mega-menu-wrap-main-menu a:hover {
  text-decoration: none;
}
/*Inline styles injected from slider javascript*/
.tp-caption.Mega-Headline1,.Mega-Headline1{color:rgba(255,255,255,1.00);font-size:60px;line-height:60px;font-weight:700;font-style:normal;font-family:'Montserrat', Arial !important;padding:0px 0px 0px 0px;text-decoration:none;text-align:left;background-color:transparent;border-color:transparent;border-style:none;border-width:0px;border-radius:0px 0px 0px 0px;letter-spacing:2px}.tp-caption.Mega-Text,.Mega-Text{color:rgba(255,255,255,1.00);font-size:30px;line-height:36px;font-weight:300;font-style:normal;font-family:Open Sans;padding:0px 0px 0px 0px;text-decoration:none;text-align:left;background-color:transparent;border-color:transparent;border-style:none;border-width:0px;border-radius:0px 0px 0px 0px;letter-spacing:2px}.tp-caption.Mega-Button,.Mega-Button{color:rgba(255,255,255,1.00);font-size:18px;line-height:18px;font-weight:400;font-style:normal;font-family:'Montserrat', Arial !important;padding:13px 35px 13px 35px;text-decoration:none;text-align:left;background-color:transparent;border-color:rgba(255,255,255,1.00);border-style:solid;border-width:2px;border-radius:0px 0px 0px 0px}.tp-caption.Mega-Button:hover,.Mega-Button:hover{color:rgba(46,46,46,1.00);text-decoration:none;background-color:rgba(255,255,255,1.00);border-color:rgba(255,255,255,1.00);border-style:solid;border-width:2px;border-radius:0px 0px 0px 0px}